* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('https://picsum.photos/1920/1080');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    padding: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons {
    margin: 30px;
    display: flex;
    gap: 40px;
}

button {
    padding: 10px;
    font-size: 50px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;
}

button:hover {
    opacity: 0.7;
}

#rock {
    background-color: #f28b82;
}

#paper {
    background-color: #fbbc04;
}

#scissors {
    background-color: #34a853;
}

p {
    font-weight: bold;
    margin-bottom: 10px;
}

.your-score span {
    color: #1a73e8;
}

.machine-score span {
    color: #ea4335;
}